body {
    margin-right: 70px !important;
    margin-left: 70px !important;
    background-color: #dcade6 !important;
}

.uploadContainer, .databaseContainer {
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    align-content: center;
}

.activePage {
    display: block;
}

.inactivePage {
    display: none;
}